
html {
    font-family: 'Courier Prime', monospace;
    box-sizing: border-box;
    font-size: 62.5%;
    color: #444;
    --win-green: #45C456;
    --loose-red: #FF6B6B;
    --draw-yellow: #FFE66D;
    --call-action: #9CFFFA;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:focus {
  outline: none;
}
/* Color Pallette */

/* HEADER STYLING */
header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    min-height: 4rem;
    background-color: lightgray;
    border-bottom: 2px solid grey;
    z-index: 1;
    padding: 1.67vw;
}
header h1 {
    font-size: 2.8rem;
    font-weight: 700;
}
header button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1fe0;
    border: none;
    top: 0;
    right: 0;
    height: 10vh;
    padding: 0 calc(5vw / 3);   
}
header button p {
    color: #444;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header button span {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: .5rem;
    border: solid 4px var(--win-green);
    margin-left: 2rem;
}
header button p:hover {
    color: var(--win-green);
    cursor: grab;
}
#hide-explain-rules {
    display: none;
    z-index: 1;
    background-color: white;
    border-radius: 0;
    padding-left: 6rem;
}


p,
label,
input,
button {
    font-family: 'Courier Prime', monospace;
    font-size: 1.6rem;
    line-height: 1.5;
}
ul {
  list-style: none;
  margin: 0;
  padding: 2rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
	text-decoration: none;
}
a:hover {
    color: var(--win-green);
    text-decoration: underline var(--win-green);
}
/* MAIN LAYOUT GAME */
main {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #efefef;
}
.container {
    width: 33.33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* RULES Explenation LAYOUT */
#explain-rules-containter {
    position: fixed;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: white;
}
.explain-rules-card {
    width: 40%;
    min-height: 60vh;
}

/* CONSOLE LAYOUT */
.console {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
button {
    background-color: var(--win-green, lightgreen);
    border-radius: .5rem;
}

/* Title card */
.title {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h2 {
    font-size: 3rem;
    font-weight: 400;
}
.scorebord {
    text-align: center;
}
h3 {
    font-size: 2.8rem;
    font-weight: 700;
}
/*Choice Card */
.choice-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.choice-card {
    width: 15vw;
    height: 15vw;
    border-radius: 1rem;
    background-color: lightgray;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice-picture {
    width: 80%;
}

/*Input Card */
#input-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#input {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}
#inp-choice {
    width: 100%;
    border-radius: .5rem;
    font-family: 'Courier Prime', monospace;
    font-size: 1.6rem;
    padding: .5rem;
}
#btn-choice-submit {
    width: 100%;
}

/* FEEDBACK LAYOUT */
#feedback-card {
    width: 90%;
    height: 45%;
    position: relative;
    bottom: 4.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}


/* TEST COLOURS 
#contain-player-choice {
    background-color: var(--win-green);
}
#contain-computer-choice {
    background-color: var(--loose-red);
}
*/
